<script>
import { scrollToTarget } from "../utiles/utile";

export default {
  computed: {
    answers: {get() {return this.$store.getters['device/deviceAnswersRead']},},
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
  },
  updated() {
    this.$nextTick(function () {
      const count = document.querySelectorAll('.answer-item').length
      const logsContainer = document.querySelector('.answers-container')
      const lastLogItemId = document.getElementById(`answer-item-${count}`)
      if (lastLogItemId) {
        scrollToTarget({
          targetContainer: logsContainer,
          targetElem: lastLogItemId,
          yOffset: 54
        })
      }
    })
  }
}
</script>

<template>
  <div v-if="deviceStatus && answers.length > 0" class="answers flex flex-col p-2">
      <div class="answers-header border-solid border-b border-gray-300 pb-2">Ответы</div>
      <div class="answers-container flex flex-col gap-3 max-h-[300px] mt-2 overflow-y-auto">
        <div v-for="(answer, index) in answers" :id="`answer-item-${index + 1}`" class="answer-item flex flex-col items-start ml-2 py-1">
          <div class="answer-date text-sm rounded-md hover:bg-slate-200">
            {{answer.dt}}
          </div>
          <div class="answer-text rounded-md hover:bg-gray-300">
            {{answer.text}}
          </div>
          <hr class="w-[99%] h-[2px] bg-gray-300" />
        </div>
      </div>
    </div>
</template>

<style scoped>

</style>