<script>
import AppButton from "./AppButton.vue";
import hljs from "highlight.js";
import CodeEditor from 'simple-code-editor';
import {mapActions, mapGetters} from "vuex";
/**
 * languages - языки редактора кода, они тут чтобы запустить бесполезную для кода проверку
 * проверка эта необходимо для того, чтобы линтер не ругался на "бесполезный импорт" (и не затирал его)
 * этот самый импорт требуется simple-code-editor (как инициализация пакета), без этого, залезет в lib и выдаст ошибку
 */
let languages = [['json', 'json'], ['elixir', 'elixir']];
if (!languages) {console.log(hljs)}

export default {
  data() {
    return {
      languages,
    }
  },
  components: {AppButton, CodeEditor},
  computed: {
    blocksText: {
      get() {return this.$store.getters['blocks/blocksText']},
      set(newVal) {return this.$store.dispatch('blocks/handleBlocksTextUpdate', newVal)}
    },
    ...mapGetters('blocks', ['blocksError', "blocksButton", 'blocksError'])
  },
  methods: {
    ...mapActions('blocks', ['handleBlocksTextUpdate', 'onSaveBlocks'])
  }
}
</script>

<template>
  <div class="mt-4 border rounded-md">
    <div class="border-b flex justify-between p-2 bg-slate-200">
      <div class="text-md text-left font-bold m-2">Конфигурация блоков страницы</div>
      <div v-if="blocksError" class="text-xs text-red-800 flex justify-center items-center">
        Error: {{ blocksError }}
      </div>
      <div v-if="!blocksError">
        <app-button
            :loading="blocksButton.loading"
            :success="blocksButton.success"
            :disabled="blocksButton.disabled"
            @click="onSaveBlocks">
          <i class="ri-save-line text-lg"></i>
        </app-button>

      </div>
    </div>
    <div>
      <code-editor
          v-model="blocksText" @input="handleBlocksTextUpdate"
          height="300px" width="100%" theme="hybrid" font-size="12px"
          :wrap="true" :languages="languages"
      />
    </div>
  </div>
</template>

<style scoped>

</style>