<script>
import hljs from "highlight.js";
import CodeEditor from 'simple-code-editor';
import {mapActions, mapGetters, mapMutations} from "vuex";

/**
 * languages - языки редактора кода, они тут чтобы запустить бесполезную для кода проверку
 * проверка эта необходимо для того, чтобы линтер не ругался на "бесполезный импорт" (и не затирал его)
 * этот самый импорт требуется simple-code-editor (как инициализация пакета), без этого, залезет в lib и выдаст ошибку
 */
let languages = [['json', 'json'], ['elixir', 'elixir']];
if (!languages) {console.log(hljs)}

export default {
  data(){
    return {
      languages
    }
  },
  components: {CodeEditor},
  computed: {
    ...mapGetters('config', ['config', "configText", "configIsOpen", ])
  },
  methods: {
    ...mapMutations('config', ['toggleConfigIsOpen']),
    ...mapActions('config', ['setConfigText'])
  }
}

</script>

<template>
  <div class="truncate relative shadow bg-[#1d1f21] rounded-t-md" :class="{ 'max-h-[120px]': !configIsOpen }">
    <code-editor v-model="configText" @input="setConfigText" :wrap="true" :languages="languages" theme="hybrid" font-size="12px" width="100%"></code-editor>
    <div
        @click="toggleConfigIsOpen"
        class="bottom-0 h-[40px] absolute rounded-t-md cursor-pointer flex justify-center items-center bg-slate-200 dark:bg-gray-700 dark:text-slate-200 font-bold"
        :class="{'editor-closed': !configIsOpen, 'editor-opened': configIsOpen}">
      <span class="h-[20px] px-2">Открыть\скрыть</span>
    </div>
  </div>
</template>

<style scoped>
.editor-closed{
  width: 100%;
  /* left: 1rem; */
}
.editor-opened{
  width: auto;
  right: 1rem;
}
</style>