<script>
import {routes} from "../router";
import {mapGetters, mapMutations} from "vuex";

export default {
  props: ['reversed'],
  data(){
    return {
      routes
    }
  },
  computed: {
    ...mapGetters('layout', ["menuOpened", "theme"]),
    ...mapGetters('device', ['deviceStatus'])
  },
  methods: {
    ...mapMutations('layout', ['toggleMenuOpened', "toggleTheme"]),
    visibleRoutes: function(deviceStatus) {
      return this.routes.filter((route) => {
        if(deviceStatus) return route
        if(!deviceStatus && route.visible === 'always') return route
      })
    }
  }
}
</script>

<template>
  <div class="back-side shadow" :class="{'closed': !menuOpened, [theme]: true}">
    <button
        @click="toggleMenuOpened"
        class="absolute top-[25px] text-slate-50 cursor-pointer border px-2 py-1 rounded-md hover:bg-[rgba(255,255,255,0.2)]"
        :class="{'left-[250px] ': menuOpened, 'left-[10px] rotate-180': !menuOpened}"
    >
      <i class="ri-menu-fold-line"></i>
    </button>
    <button
        @click="toggleTheme"
        class="absolute bottom-[25px] text-slate-50 cursor-pointer border px-2 py-1 rounded-md hover:bg-[rgba(255,255,255,0.2)]"
        :class="{'left-[250px] ': menuOpened, 'left-[10px] rotate-180': !menuOpened}"
    >
      <i :class="{'ri-sun-line': theme === 'light', 'ri-sun-fill': theme === 'dark'}"></i>
    </button>
    <div class="absolute left-0 top-[60px] px-4 bottom-[60px] flex flex-col items-center justify-center" :class="{'w-[315px]': menuOpened, 'w-[25px]': !menuOpened}">
      <div class="w-[80%]" :class="{'min-w-[200px] mx-4': menuOpened, 'min-w-[40px] ml-4': !menuOpened}">
        <router-link v-for="route in visibleRoutes(deviceStatus).filter(el => !el.hidden)" :to="route.path" class="flex group justify-between items-center rounded-t-md border-b py-4 hover:bg-[rgba(255,255,255,0.2)]">
          <span class="text-gray-100 mx-4 group-hover:text-gray-300" :class="{'m-auto': !menuOpened}"><i :class="route.icon"></i></span>
          <span v-if="menuOpened" class="text-gray-100 group-hover:text-gray-300">{{route.name}}</span>
          <span></span>
        </router-link>
      </div>
    </div>

    <div class="flip" :class="{'reversed': reversed}">
      <!-- Front side -->
      <div class="flip-content">
        <div class="flip-front bg-slate-300 dark:bg-gray-600">
          <slot name="flip-front" />
        </div>
        <!-- Back side -->
        <div class="flip-back bg-slate-300 dark:bg-gray-600">
          <slot name="flip-back" />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.back-side {
  max-width: 90%;
  height: 96vh;
  background: rgba(100,100,100,0.4);
  margin: 1rem auto;
  padding: .1rem 20px .1rem 300px;
  border-radius: 5px;
  position: relative;
}
.back-side.closed {
  padding: .1rem 20px .1rem 50px;
}
.flip {
  height: 95vh;
  text-align: center;
  perspective: 1500px;
  margin: 2rem auto;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.flip:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.flip-content {
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}
.flip.reversed .flip-content {
  transform: rotateY(180deg);
  transition: transform 0.3s;
}
.flip-front, .flip-back {
  //position: absolute;
  border-radius: 5px;
  padding: 1rem;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow-x: auto;
}
.flip-back {
  transform: rotateY(180deg);
}
@media screen and (max-width: 1600px) {
  .back-side {
    max-width: 100%;
  }
}
</style>