<script>
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
  props: ['title', 'showDevice'],
  computed: {...mapGetters('device', ['device'])},
  methods: {
    ...mapMutations('layout', ['toggleAppConfigOpened']),
    ...mapActions('device', ['connectDevice'])
  }
}
</script>

<template>
  <div class="p-4 rounded-xl flex items-center justify-center space-x-4 relative">
    <h1 class="text-xl font-bold m-4">{{title}}</h1>
    <button
        v-if="showDevice"
        @click="connectDevice"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      <i :class="{'ri-link-unlink': !device, 'ri-link': !!device}"></i>
      {{(device && device["productName"]) || "связь"}}
    </button>
    <div class="absolute flex justify-center gap-2 top-0 right-0">
      <button class="rounded-md p-2 hover:bg-slate-300" @click="toggleAppConfigOpened">
        <i class="ri-settings-4-line text-lg"></i>
      </button>
      <a class="rounded-md p-2 hover:bg-slate-300" href="https://support.google.com/chrome/answer/12576972?visit_id=638247475759300016-3308379280&p=webusb&rd=1#webusb&zippy=%2Clearn-more-about-usb-devices-in-chrome"><i class="ri-question-line text-lg"></i></a>
    </div>
  </div>
</template>

<style scoped>
</style>
