<script>
import { scrollToTarget } from "../utiles/utile";

export default {
  computed: {
    logs: {get() {return this.$store.getters['device/deviceLogs']},},
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
  },
  updated() {
    this.$nextTick(function () {
      const count = document.querySelectorAll('.log-item').length
      const logsContainer = document.querySelector('.logs-container')
      const lastLogItemId = document.getElementById(`log-item-${count}`)
      if (lastLogItemId) {
        scrollToTarget({
          targetContainer: logsContainer,
          targetElem: lastLogItemId,
          yOffset: 54
        })
      }
    })
  }
}
</script>

<template>
  <div v-if="deviceStatus && logs.length > 0" class="logs flex flex-col p-2">
      <div class="logs-header border-solid border-b border-gray-300 pb-2">Логи</div>
      <div class="logs-container flex flex-col gap-3 max-h-[300px] mt-2 overflow-y-auto">
        <div v-for="(log, index) in logs" :id="`log-item-${index + 1}`" class="log-item flex flex-col items-start ml-2 py-1">
          <div class="log-date text-sm rounded-md hover:bg-slate-200">
            {{log.dt}}
          </div>
          <div class="log-text rounded-md hover:bg-gray-300">
            {{log.text}}
          </div>
          <hr class="w-[99%] h-[2px] bg-gray-300" />
        </div>
      </div>
    </div>
</template>

<style scoped>

</style>