<template>
  <!--
    The root div of the component, with classes for centering the contained elements (m-auto)
    and positioning its children relatively within it (relative).
  -->
  <div class="m-auto relative">

    <!--
      This div is intended to contain a map. The 'ref' attribute is special to Vue.js,
      providing a way to reference DOM elements within scripts. The inline styles
      dictate this container will fill its parent's width and have a set height.
    -->
    <div ref="mapContainer" style="width: 100%; min-height: 400px; height: 70vh;"></div>

    <!--
      This is a container for a popup feature. The 'hidden' class suggests it will
      not be displayed initially, while 'transition-all' means it will have
      transition effects applied to all its properties. It is positioned
      according to its parent due to the 'relative' class on the parent div.
    -->
    <div id="popup" class="ol-popup hidden transition-all">

      <!--
        This is a hyperlink that presumably closes the popup. It's styled to not underline on hover
        (hover:no-underline) and positioned within the popup (top-2 right-2). The 'i' tag with
        classes is likely used to display a close icon (usually from a library like FontAwesome or
        Remix Icon).
      -->
      <a href="#" id="popup-closer" class="absolute ol-popup-closer hover:no-underline top-2 right-2 ">
        <i class="ri-close-fill"></i>
      </a>

      <!--
        This div will contain the dynamic content of the popup. It’s empty because
        its actual content will probably be set dynamically by some JavaScript code.
      -->
      <div id="popup-content"></div>
    </div>
  </div>
</template>

<script>
import { fromLonLat } from 'ol/proj';
import Map from 'ol/Map';
import View from 'ol/View';
import TileLayer from 'ol/layer/Tile';
import OSM from 'ol/source/OSM';
import { Vector as VectorLayer } from "ol/layer";
import { Vector as VectorSource } from "ol/source";
import Feature from "ol/Feature";
import {LineString, Point} from "ol/geom";
import {Fill, Stroke, Style, Text, Icon} from 'ol/style.js';
import Overlay from "ol/Overlay";
import { toRaw } from "vue";
import moment from "moment";
const  calculateDistance = (lat1, lng1, lat2, lng2) => {
      const radius = 6371; // Earth's radius in km
      const dLat = toRadians(lat2 - lat1);
      const dLng = toRadians(lng2 - lng1);
      const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
      Math.cos(toRadians(lat1)) * Math.cos(toRadians(lat2)) *
      Math.sin(dLng / 2) * Math.sin(dLng / 2);
      const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      const distance = radius * c;

      return distance;
    },
    toRadians = (degree) => {
      return degree * (Math.PI / 180);
    };

export default {
  props: {
    viewCfg: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      map: null,
      vectorLayer: null,
      tooltip: null
    }
  },
  methods: {
    svg: function(color = "black", course) {
      const screen_width = document.documentElement.clientWidth;

      let svg_width = 25;
      let svg_height = 45;

      let text_size = "30px";

      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        svg_width = screen_width < 700 ? 30 : 50;
      }

      return `<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(59 130 246)" width="${svg_width}" height="${svg_height}" viewBox="0 0 24 24" >
                <path fill="none" d="M0 0h24v24H0z"/>
                <path d="M18.364 17.364L12 23.728l-6.364-6.364a9 9 0 1 1 12.728 0zM12 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm0-2a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/>
              </svg>`
    },
    setView: function(zoom, coordinates) {
      this.map.setView(new View({
        projection: this.$props.viewCfg.projection,
        center: fromLonLat(coordinates),
        zoom: zoom,
      }))
    },
    addLayer: function(coordinates, text, data) {
      this.map.addLayer(
          new VectorLayer({
            type: "vector_layer",
            source: new VectorSource({
              features: [this.mapFeature(coordinates), this.iconFeature(coordinates)],
            }),
            style: [
              this.iconStyle("green", text),
            ],
          })
      )
      this.setTooltip(coordinates, text, data,  'popup', 'popup-content', 'popup-closer')
    },
    clearLayer: function (){
      const source = this.vectorLayer.getSource();
      source.clear();
    },
    setLineLayer: function (text, point) {
      let coordinates = toRaw(point).map(el => el.coords);
      const source = this.vectorLayer.getSource();
      // source.clear();

      if (coordinates.length > 0) {
        // Создание линии
        const lineFeature = new Feature({geometry: new LineString(coordinates.map(el => fromLonLat(el)))});

        lineFeature.setStyle(
            new Style({
              stroke: new Stroke({
                color: '#1669a1',
                width: 2,
              }),
            })
        );

        source.addFeature(lineFeature);

        coordinates.forEach((coordinates) => {
          const pointFeature = new Feature({
            geometry: new Point(coordinates).transform("EPSG:4326", "EPSG:900913"),
              projection: "EPSG:4326",
          });
          pointFeature.setProperties(point)
          source.addFeature(pointFeature);
        });
      }
    },
    mapFeature: function(coord) {
      let feat = new Feature({
        geometry: new Point(coord).transform("EPSG:4326", "EPSG:900913"),
        projection: "EPSG:4326",
      });
      return feat
    },
    iconFeature: function(point) {
      return new Feature({
        geometry: new Point(point).transform("EPSG:4326", "EPSG:900913"),
        projection: "EPSG:4326",
      });
    },
    iconStyle: function(color, text, course = null) {
      return new Style({
        image: new Icon({
          scale: 1.4,
          anchor: [0.45, 32],
          anchorXUnits: "fraction",
          anchorYUnits: "pixels",
          src: "data:image/svg+xml;utf8," + this.svg(color, course),
        }),
        text: new Text({
          text: text,
          offsetY: -14,
          offsetX: -18,
          textBaseline: 'middle',
          backgroundFill: new Fill({color: [90, 90, 60, 0.8]}),
          backgroundStroke: new Stroke({color: [25, 230, 115, 0]}),
          padding: [3, 3, 3, 3],
          textAlign: 'right',
          justify: 'left',
          font: '12px bold Calibri,sans-serif',
          fill: new Fill({
            color: 'white',
          }),
        }),
      })
    },
    setTooltip: function (coordinates, machine_name, machine, tooltip_id, content_id, closer_id) {
      const tooltipSelector = document.getElementById(tooltip_id)
      const contentSelector = document.getElementById(content_id)
      const onClose = document.getElementById(closer_id)

      const tooltip = new Overlay({element: tooltipSelector})
      this.map.addOverlay(tooltip)

      const tooltipContent = new Overlay({
        position: coordinates,
        positioning: 'center-center',
        element: contentSelector,
        stopEvent: false,
      });

      this.map.addOverlay(tooltipContent)

      const onClosed = () => {
        if (onClose) {
          tooltip.setPosition(undefined)
          onClose.blur()
          const tooltipText = tooltipSelector.querySelector(`.${content_id}`)
          if (tooltipText) {
            tooltipText.remove()
          }
        }
      }
      const map = toRaw(this.map);

      map.on('click', function (e) {
        const feature = map.forEachFeatureAtPixel(e.pixel, function (feature) {return feature})

        onClosed()

        const tooltipText = document.createElement('div')
        tooltipText.classList.add(content_id)

        if (feature) {
          let properties = toRaw(feature).getProperties();
          if (true) {
            properties = Object.values(properties).map(el => toRaw(el)).filter(el => el.id).sort(({pack_dt: pdt_st}, {pack_dt: pdt_fn}) => moment(pdt_fn).unix() - moment(pdt_st).unix())
            const container = tooltip.getElement();
            let first = properties[0],
                last  = properties[properties.length - 1],
                speed = properties.reduce((acc,val) => acc + val.speed,0)/(properties.length),
                distance = properties.reduce((total, point, index) => {
                  if (index === 0) return total;

                  const prevPoint = properties[index - 1];
                  return +total + +calculateDistance(prevPoint.pack_lat, prevPoint.pack_lon, point.pack_lat, point.pack_lon);
                }, 0);

            container.style.opacity = "1"
            container.style.display = "flex"
            container.style.minWidth = "max-content"
            container.style.backgroundColor = "white"
            container.style.padding = "0 1.5rem 0 1.5rem"
            tooltipText.innerHTML = `
                <div class="flex flex-col py-2 justify-items-center">
                  <div class="tooltip-title flex text-lg text-blue-500"> ${machine_name} </div>

                  <hr class="mt-1 mb-2">
                  <code> ${first.pack_lat},${first.pack_lon} - ${last.pack_lat},${last.pack_lon} </code>
                  <hr class="mt-1 mb-2">
                  <div class="text-left flex text-sm"><div class="w-[170px]">Imei:</div>                 <div>${machine.imei}</div> </div>
                  <div class="text-left flex text-sm"><div class="w-[170px]">Время начала:</div>         <div>${moment(first.pack_dt).subtract(3, 'hours').format("DD.MM HH:mm:ss")}</div> </div>
                  <div class="text-left flex text-sm"><div class="w-[170px]">Время конца:</div>          <div>${moment(last.pack_dt).subtract(3, 'hours').format("DD.MM HH:mm:ss")}</div> </div>
                  <div class="text-left flex text-sm"><div class="w-[170px]">Примерная дистанция:</div>  <div>${Math.round(distance, 2)} км.</div> </div>
                  <div class="text-left flex text-sm"><div class="w-[170px]">Скорость (avg):</div>       <div>${Math.round(speed, 2)}</div> </div>

                  <hr class="mt-1 mb-2">
                  <div class="max-h-[100px] overflow-y-auto">
                      <pre class="text-left"> ${JSON.stringify(properties, null, " ")} </pre>
                  </div>
                  <hr class="mt-1 mb-2">
                </div>`
            container.prepend(tooltipText)

            tooltip.setPosition(e.coordinate)
          } else {
            console.log(properties)
          }

        }
      });

      onClose.addEventListener('click', onClosed)
    }
  },
  mounted() {
    this.map = new Map({
      target: this.$refs.mapContainer,
      layers: [
        new TileLayer({
          source: new OSM(),
        })
      ],
      view: new View({...this.viewCfg, center: fromLonLat(this.viewCfg.center)})
    });

    this.vectorLayer = new VectorLayer({
      source: new VectorSource(),
    });

    this.map.addLayer(this.vectorLayer);
  },
  unmounted() {
    if (this.map) {
      this.map.setTarget(undefined);
    }
  }
};
</script>

<style scoped>

</style>