<script>
import {mapGetters, mapActions} from "vuex";

export default {
  computed: {
    ...mapGetters("device", ["device"]),
    answersValues: {get() {return JSON.parse(JSON.stringify(this.$store.getters['device/answersValues']))},},
    values: {get() {return JSON.parse(this.$store.getters['values/valuesText'])},},
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
  },
  methods: {
    getProdName: (device, deviceStatus) => deviceStatus ? device.productName : '-',
  },
}
</script>

<template>
  <!-- <div v-if="deviceStatus" class="px-6 bg-gray-100 dark:bg-gray-600"> -->
  <div class="px-6 bg-gray-100 dark:bg-gray-600">
    <h2 class="text-md font-bold py-4 mb-4 border-b">Параметры устройства:</h2>
    <div class="grid grid-cols-1">
      <div class="grid grid-cols-2 border-b py-2 hover:bg-gray-200"><div class="font-medium">Имя устройства:</div>      <div class="" id="device-name">     {{ getProdName(device, deviceStatus) }} </div></div>
      <div v-if="answersValues.length === 0 && values.length > 0" v-for="(param, index) in values[0]?.params" :id="`param-item-${index + 1}`" class="grid grid-cols-2 border-b py-2 hover:bg-gray-200"><div class="font-medium">{{param.title}}:</div><div class="" id="device-name">{{deviceStatus && param.value ? param.value : '-' }}</div></div>
      <div v-if="answersValues.length > 0" v-for="(param, index) in answersValues" :id="`param-item-${index + 1}`" class="grid grid-cols-2 border-b py-2 hover:bg-gray-200"><div class="font-medium">{{param.title}}:</div><div class="" id="device-name">{{deviceStatus && param.value ? param.value : '-' }}</div></div>
      <div class="grid grid-cols-2 border-b py-2 hover:bg-gray-200"><div class="font-medium">Статус подключения:</div>  <div :class="{'text-green-500': deviceStatus}" id="connection-status">{{ deviceStatus ? "Подключено" : "Не подключено"}}</div></div>
    </div>
  </div>
</template>

<style scoped>

</style>