<script>
export default {
  props: ['blocks', 'config', 'inputChange', 'labelClass', 'valueClass']
}

</script>

<template>
  <div class="my-4">
    <div v-for="block in blocks" :key="block.id" class="grid grid-cols-2 rounded-md items-end gap-2 mb-2 dark:border-gray-800 md:grid-cols-3">
      <!-- <div class="text-md border-b bg-slate-100 col-span-3 text-left p-2 dark:text-slate-300 dark:bg-gray-700 dark:border-gray-800">{{ block.title }}</div> -->
      <div class="grid md:grid-cols-3 col-span-3 p-4 gap-2">
        <div v-for="param in block.params" :key="param.key" class="relative grid grid-flow-col justify-center items-center col-span-3 md:col-span-1">
          <label :for="param.key" class="w-[160px] text-sm text-gray-500 dark:text-gray-400 duration-300 transform scale-90 z-10 origin-[0]peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3 z-10" :class="labelClass">{{ param.title }}</label>
          <input :id="param.key" class="block rounded-md px-3 py-2 w-full text-sm bg-gray-100 dark:bg-gray-700 border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer z-100" :class="valueClass" type="text" @input="inputChange" v-model="config[param.key]">
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>