<script>
import {inject} from 'vue'

export default {

  props: {
    name: { required: true },
    title: { required: true, type: String },
  },
  setup() {
    const selectedTab = inject('selectedTab')
    return {
      selectedTab
    }
  },
}
</script>

<template>
  <div v-show="name == selectedTab" class="flex flex-col border-t border-gray-300"><slot></slot></div>
</template>

<style scoped>

</style>