<script>
import { ref, provide, computed } from 'vue'
export default {
  
  setup(props, {slots}) {
    const tabs = ref(slots.default?.()?.map(tab => tab.props.name))
    const tabsTitles = ref(slots.default?.()?.map(tab => tab.props.title))
    const selectedTab = ref(tabs.value[0])
    
    return {
      tabs,
      tabsTitles,
      selectedTab,
    }
  },
  provide() {
    return {
      selectedTab: computed(() => this.selectedTab)
    }
  },
  methods: {
    selectTab(selectedTab) {
      JSON.parse(JSON.stringify(this.tabs)).map((tab, idx)=> {
        if (idx === selectedTab) {
          this.selectedTab = tab
        } 
      });
    },
    getTitles(titles, idx) {
      return JSON.parse(JSON.stringify(titles)).find((el, index) => index === idx)
    }
  }
}
</script>

<template>
  <div>
    <div class="tabs flex">
      <ul class="flex flex-row items-center justify-start mt-1 mx-2">
        <li v-for="(tab, idx) in tabs" 
          :key="tab" 
          @click="selectTab(idx)" 
          class="flex px-2 text-emerald-500 bg-slate-100 border-gray-300 rounded-t z-10" 
          :class="{'border border-b-white': selectedTab === tab, 'border-x border-t': selectedTab !== tab}">
          <span class="cursor-pointer">{{ getTitles(tabsTitles, idx) }}</span>
        </li>
      </ul>
    </div>

    <div class="tabs-details flex flex-col relative -top-[1px]">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>

</style>