<script>
import AppButton from "./AppButton.vue";
import hljs from "highlight.js";
import CodeEditor from 'simple-code-editor';
import {mapActions, mapGetters} from "vuex";
import {store as template} from "../store/modules/template/index.js";
import {isEmptyObject} from "../utiles/utile";

/**
 * languages - языки редактора кода, они тут чтобы запустить бесполезную для кода проверку
 * проверка эта необходимо для того, чтобы линтер не ругался на "бесполезный импорт" (и не затирал его)
 * этот самый импорт требуется simple-code-editor (как инициализация пакета), без этого, залезет в lib и выдаст ошибку
 */
let languages = [['json', 'json'], ['elixir', 'elixir']];
if (!languages) {console.log(hljs)}

export default {
  data() {
    return {
      languages,
    }
  },
  components: {AppButton, CodeEditor},
  computed: {
    templatesText: {
      get() {return this.$store.getters['template/templatesText']},
      set(newVal) {return this.$store.dispatch('template/handleTemplatesTextUpdate', newVal)}
    },
    ...mapGetters('template', ['templates', 'templatesError', "templatesButton"])
  },
  methods: {
    ...mapActions('template', ['handleTemplatesTextUpdate', 'onSaveTemplates']),
    ...mapActions('config', ['setConfig']),
    ...mapActions('config', ['onSaveConfig']),
    onSavedSettings: function(templates) {
      if(!isEmptyObject(JSON.stringify(templates))) {
        this.onSaveTemplates()
        this.setConfig(templates).then(() => {
          this.onSaveConfig()
          }
        )
        .catch(err => console.error('not uploading data to the config store', err))
      }
    }
  },
}
</script>

<template>
  <div class="mt-4 border rounded-md">
    <div class="border-b flex justify-between p-2 bg-slate-200">
      <div class="text-md text-left font-bold m-2">Конфигурация настроек страницы</div>
      <div v-if="templatesError" class="text-xs text-red-800 flex justify-center items-center">
        Error: {{ templatesError }}
      </div>
      <div v-if="!templatesError">
        <app-button
            :loading="templatesButton.loading"
            :success="templatesButton.success"
            :disabled="templatesButton.disabled"
            @click="onSavedSettings(templates)">
          <i class="ri-save-line text-lg"></i>
        </app-button>

      </div>
    </div>
    <div>
      <code-editor
          v-model="templatesText" @input="handleTemplatesTextUpdate"
          height="300px" width="100%" theme="hybrid" font-size="12px"
          :wrap="true" :languages="languages"
      />
    </div>
  </div>
</template>

<style scoped>

</style>