<script>
import AppButton from "./AppButton.vue";
import hljs from "highlight.js";
import CodeEditor from 'simple-code-editor';
import {mapGetters, mapActions} from "vuex";
import Answers from "./Answers.vue";
import {putAllCommands, typeUint} from "../utiles/utile";
import Parameters from "../components/Parameters.vue";
/**
 * languages - языки редактора кода, они тут чтобы запустить бесполезную для кода проверку
 * проверка эта необходимо для того, чтобы линтер не ругался на "бесполезный импорт" (и не затирал его)
 * этот самый импорт требуется simple-code-editor (как инициализация пакета), без этого, залезет в lib и выдаст ошибку
 */
let languages = [['markdown', 'device_cmd']];
if (!languages) {console.log(hljs)}

export default {
  components: {AppButton, CodeEditor, Answers, Parameters},
  computed:{
    ...mapGetters('device', ['device']),
    ...mapGetters('device', ['deviceAnswer']),
    ...mapGetters('values', ['valuesText']),
    ...mapGetters('blocks', ['blocks']),
    commandsText: {
      get() {return this.$store.getters['commands/commandsText']},
      set(newVal) {return this.$store.dispatch('commands/handleTextUpdate', newVal)}},
    commandSet: {
      get() {return this.$store.getters['commands/commandSet']},
      set(newVal) {return this.$store.dispatch('commands/handleCommandSetUpdate', newVal)}},
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
  },
  methods: {
  ...mapActions('device', ['putCommands']),
  ...mapActions('config', ['updateConfig']),
  ...mapActions('template', ['updateTemplates']),
  ...mapActions('values', ['updateValues']),
  ...mapActions('values', ['onSaveValues']),
    getProdName: (device, deviceStatus) => deviceStatus ? device.productName : '-',
    getImei:     (device, deviceStatus) => deviceStatus ? device.serialNumber : '-',
    getFw:       (device, deviceStatus) => deviceStatus ? `${device.deviceVersionMajor}:${device.deviceVersionMinor}:${device.deviceVersionSubminor}` : '-',
    putSingleCommands: function(commands) {
      this.putCommands({command: commands})
      .then(() => {
        if(this.deviceAnswer.type === 'settings' && this.deviceAnswer.id && this.deviceAnswer.key) {
        this.updateConfig(this.deviceAnswer)
        this.updateTemplates(this.deviceAnswer)
      }
      if(this.deviceAnswer.type === 'values' && this.deviceAnswer.id && this.deviceAnswer.key) {
        this.updateValues(this.deviceAnswer).then(() => {
          this.onSaveValues()
        })
        .catch(err => {
          console.error('not uploading data to the values store', err)
        })
      }
      })
      .catch(err => {
        console.error('Error putting commands', err)
      })
    },
    putAllCommandsValues: function({type}) {
      const valuesSettings = this.valuesText ? JSON.parse(this.valuesText) : []
        console.log('valuesSettings', valuesSettings)
        const allCommandValues = valuesSettings.map((el) => el.params).flat().map((param) => {
          return {
            type: param.type,
            command: `0x${param.id}`
          }})
      putAllCommands({type: type, action: this.putCommands, params: allCommandValues})
    },
    setSingleCommand: function(text) {
      // 8, 0x21, 0x02, 1
      text = text.replace(/\s/g, '')
      const arrText = text.split(',')
      const typeData = typeUint(arrText[0])
      const command = text.split(',').filter((el, idx) => idx > 0)
      const stringCommand = command.join(',')
      return this.putCommands({typeData: typeData, command: stringCommand})
    }
  },
}
</script>

<template>
  <div class="mt-4 rounded-md shadow">
    <!-- <div class="flex w-full h-[180px] items-center justify-center flex-row p-3 gap-2 bg-white text-sm rounded" :class="{'h-auto': deviceStatus}">
      <div div class="flex text-lg">Устройство</div>
      <div class="flex text-lg" v-bind:class="[deviceStatus ? 'text-green-500' : 'text-blue-500']" id="connection-status">{{ deviceStatus ? "подключено" : "не подключено"}}
      </div>
    </div> -->
    <Parameters/>
    <div v-if="deviceStatus" class="flex flex-col justify-between items-center boder-gray-800 p-2 bg-slate-200 dark:bg-gray-700 dark:text-slate-200 font-bold">
      <div class="text-md text-left font-bold m-2">Комманды устройству</div>
      <div class="flex flex-row font-bold">
        <div class="commands flex flex-col gap-3 items-center space-x-4">
          <button @click="putSingleCommands('0x10')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded dark:bg-blue-800 dark:hover:bg-blue-900">
            GET ALL SETTINGS отправить
          </button>
          <button @click="putAllCommandsValues({type: '0x12'})" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded dark:bg-blue-800 dark:hover:bg-blue-900">
            GET ALL VALUES отправить
          </button>
          <div class="flex flex-row items-center bg-blue-500 rounded">
            <div class="min-w-[210px] text-white font-bold py-2 px-4 rounded">
              GET SINGLE SETTING                      
            </div>
            <input v-model="commandsText" type="text" class="max-h-[30px] max-w-[140px] bg-slate-200 dark:bg-gray-700 dark:text-slate-200 font-bold p-2 rounded"/>
            <button @click="putSingleCommands(commandsText)" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold ml-1 py-2 px-4 rounded dark:bg-blue-800 dark:hover:bg-blue-900">
              Отправить
            </button>
          </div>
          <div class="flex flex-row items-center bg-blue-500 rounded">
            <div class="min-w-[210px] text-white font-bold py-2 px-4 rounded">
              SET SINGLE SETTING                      
            </div>
            <input v-model="commandSet" type="text" class="max-h-[30px] max-w-[140px] bg-slate-200 dark:bg-gray-700 dark:text-slate-200 font-bold p-2 rounded"/>
            <button @click="setSingleCommand(commandSet)" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold ml-1 py-2 px-4 rounded dark:bg-blue-800 dark:hover:bg-blue-900">
              Отправить
            </button>
          </div>
        </div>
        </div>
    </div>

    <div v-if="deviceStatus">
      <hr class="w-[100%] h-[2px] bg-white my-5" />
      <div class="flex w-full flex-col p-4 mb-5 bg-white rounded-md shadow-md">
        <div class="answers flext flex-col p-2">
          <Answers />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>