<script>

export default {
  computed: {
    values: {get() {return JSON.parse(this.$store.getters['values/valuesText'])},},
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
  },
}
</script>

<template>
  <div v-if="deviceStatus && values" class="values flex flex-col p-2">
      <div class="values-header border-solid border-b border-gray-300 pb-2">Значения</div>
      <div class="values-container flex flex-col gap-3 max-h-[300px] mt-2 overflow-y-auto">
        <!-- <div v-for="(param, index) in values[0].params" :id="`value-item-${index + 1}`" class="value-item flex flex-col items-start ml-2 py-1"> -->
        <div v-for="(param, index) in values" :id="`value-item-${index + 1}`" class="value-item flex flex-col items-start ml-2 py-1">
          <div class="value-title text-sm rounded-md hover:bg-slate-200">
            {{param.title}}
          </div>
          <div class="value-text rounded-md hover:bg-gray-300">
            {{param.value}}
          </div>
          <hr class="w-[99%] h-[2px] bg-gray-300" />
        </div>
      </div>
    </div>
</template>

<style scoped>

</style>