<script>
import Head from './components/Head.vue'
import Flipper from "./components/Flipper.vue";
import {mapActions, mapGetters} from "vuex";
import {useStore} from "./store/index.js";
import BlockConfigurator from "./components/BlockConfigurator.vue";
import TemplateConfigurator from "./components/TemplateConfigurator.vue";

export default {
  components: {
    BlockConfigurator,
    TemplateConfigurator,
    Flipper,
    Head
  },
  computed: {
    ...mapGetters('layout', ['appConfigOpened']),
  },
  methods: {
    ...mapActions('blocks', ['initBlocks'])
  },
  setup: () => {
    const store = useStore();
    store.dispatch('template/initTemplates')
    store.dispatch('config/setConfig', store.state.template.templates)
  }
}
</script>
<!--

-->
<template>
  <Flipper :reversed="appConfigOpened">
    <template #flip-front>
      <Head v-if="this.$route.name !== 'Инфографика' && this.$route.name !== 'Список данных'" title="Сервис настройки встраиваемых устройств МТСО"  :showDevice="false" />
      <router-view></router-view>
    </template>
    <template #flip-back>
      <Head title="Конфиг страницы"  :showDevice="false" />
      <block-configurator />
      <template-configurator />
    </template>
  </Flipper>
</template>

<style>
html {
  width: 100%;
  height: 100vh;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #3a6073;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#3a7bd5, #3c50af);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#3a7bd5, #3c50af); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  max-width: 100vw;
}
.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.shadow:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
</style>