<script>
import ConfigEditor from "../components/ConfigEditor.vue";
import RenderInputs from "../components/RenderInputs.vue";
import {mapActions, mapGetters, mapMutations} from "vuex";
import UsbCommands from "../components/UsbCommands.vue";

export default {
  components: {UsbCommands, ConfigEditor, RenderInputs},
  computed: {
    ...mapGetters('config', ["configIsOpen"]),
  },
  methods: {
    ...mapMutations('config', ['toggleConfigIsOpen']),
    ...mapActions('config', ['setConfigText'])
  }
}
</script>

<template>
  <!-- <config-editor  :isOpen="configIsOpen" :toggleEditor="toggleConfigIsOpen" :input="setConfigText" /> -->
  <usb-commands />
</template>

<style scoped>

</style>