<template>
<!--          disabled-->
<div class="flex flex-col gap-4 relative" style="height: calc(100vh - 100px); width: 100%">
  <div class="absolute xsm:hidden top-0 left-0 w-full h-full min-h-[4000px] z-50 rounded-md" style="background: rgb(150, 150, 150, 0.95)">
    <span class="flex text-xl py-10 font-bold">Внимание, сайт не предусмотрен для отображения на экранах шириной менее 410xp</span>
  </div>
  <div id="selects" class="w-full bg-white rounded-md flex flex-row flex-wrap xl:flex-nowrap gap-2 p-4">
    <div id="machine_select" class="max-w-full w-full xl:max-w-[100%] xl:mx-4">
      <Multiselect v-model="selectedImei" :options="imeiList" track-by="imei" label="name" style="height: 43px" />
    </div>
    <div class="max-w-full w-full xl:max-w-[30%] min-w-[250px]">
      <VueDatePicker
          v-model="selectedPageDate"
          range
          cancelText="Отменить"
          selectText="Выбрать"
          time-picker-inline
          locale="ru"
          position="center"
          style="height: 45px"
          :max-date="maxDate"
          :highlight-week-days="[0, 6]"
          placeholder="Введите период ..."
          :format="formatDate"
          :preview-format="formatDateSelected"
          :text-input="{format: 'dd.MM HH:mm'}"
      />
    </div>

    <button @click="refreshTrack" class="w-full xl:w-[200px] h-[43px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-sm text-sm px-5 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" >
      выгрузить
    </button>
  </div>
  <div>
    <fwb-table hoverable>
      <fwb-table-head>
        <fwb-table-head-cell>ID</fwb-table-head-cell>
        <fwb-table-head-cell>Дата(пр.)</fwb-table-head-cell>
        <fwb-table-head-cell>Дата(форм.)</fwb-table-head-cell>
        <fwb-table-head-cell>Коорд</fwb-table-head-cell>
        <fwb-table-head-cell>Скорость</fwb-table-head-cell>
        <fwb-table-head-cell>Курс</fwb-table-head-cell>
        <fwb-table-head-cell>HDOP</fwb-table-head-cell>
        <fwb-table-head-cell>VDOP</fwb-table-head-cell>
        <fwb-table-head-cell>PDOP</fwb-table-head-cell>
        <fwb-table-head-cell>Спутники</fwb-table-head-cell>
        <fwb-table-head-cell>Сенсоры</fwb-table-head-cell>
      </fwb-table-head>
      <fwb-table-body>
        <fwb-table-row v-for="item in dataList">
          <fwb-table-cell>{{item.id}}</fwb-table-cell>
          <fwb-table-cell>{{parseDt(item.dt)}}</fwb-table-cell>
          <fwb-table-cell>{{parseDt(item.pack_dt)}}</fwb-table-cell>
          <fwb-table-cell>{{item.pack_lat}},{{item.pack_lon}}</fwb-table-cell>
          <fwb-table-cell>{{item.speed}}</fwb-table-cell>
          <fwb-table-cell>{{item.course}}</fwb-table-cell>
          <fwb-table-cell>{{item.hdop}}</fwb-table-cell>
          <fwb-table-cell>{{item.vdop}}</fwb-table-cell>
          <fwb-table-cell>{{item.pdop}}</fwb-table-cell>
          <fwb-table-cell>{{item.nsat || 0}}</fwb-table-cell>
          <fwb-table-cell>
            <div class="flex flex-col">
                <span v-for="sensor in (item.an_sensor || [])">{{sensor.desc}}:&nbsp;{{sensor.value}};</span>
            </div>
          </fwb-table-cell>
        </fwb-table-row>
      </fwb-table-body>
    </fwb-table>
    <div v-if="dataLoading" class="w-full h-[250px] flex justify-center items-center"><fwb-spinner size="12" /></div>
  </div>
</div>
</template>

<script>
import {toRaw} from 'vue';
import {
  FwbA,
  FwbTable,
  FwbTableBody,
  FwbTableCell,
  FwbTableHead,
  FwbTableHeadCell,
  FwbTableRow,
  FwbSpinner,
} from 'flowbite-vue'
import Multiselect from 'vue-multiselect'
import moment from "moment";
import axios from 'axios';

export default {
  name: 'DataList',
  components: { FwbA,
    FwbTable,
    FwbTableBody,
    FwbTableCell,
    FwbTableHead,
    FwbTableHeadCell,
    FwbTableRow,
    FwbSpinner,
    Multiselect
  },
  data() {
    return {
      dataLoading: false,
      dataList: [],
      selectedPageDate: [moment().subtract(1, 'day').format(), moment().format()],
      selectedImei: {name: 'МТСО-2 №77 (864011060955178)', imei: 864011060955178},
      imeiList: [
        {name: 'МТСО-2 №77 (864011060955178)', imei: 864011060955178}
      ],
    }
  },
  methods: {
    formatDateSelected: (dates) => {
      const [date1, date2] = toRaw(dates),
          formatString = "DD.MM HH:mm",
          toFormatted = (dt) => moment(dt).format(formatString);
      return `Период: ${toFormatted(date1)} - ${toFormatted(date2)} `
    },
    formatDate: (dates) => {
      const [date1, date2] = toRaw(dates),
          formatString = "DD.MM HH:mm",
          toFormatted = (dt) => moment(dt).format(formatString);
      return `${toFormatted(date1)} - ${toFormatted(date2)}`
    },
    refreshTrack() {
      this.dataList = [];
      this.dataLoading = true;
      axios.post("/api/get_machine_info", {"imei": this.selectedImei.imei, "dt_start": this.selectedPageDate[0], "dt_finish": this.selectedPageDate[1]})
      .then(({data: {data}}) => {
        this.dataList = data.sort(({id: ido}, {id: idt}) => idt - ido)
        this.dataLoading = false;
        return "ok";
      })
      .catch((error) => {
        this.dataLoading = false;
        console.error("Произошла ошибка при запросе к API:", error);
      });
    },
    parseDt: (datetime) => moment(datetime).format("DD.MM.YYYY HH:mm:ss")
  },
  computed: {},
  mounted() {
    this.refreshTrack();
  }
}
</script>

<style >
th {
  text-align: center;
}
td {
  text-align: left !important;
}
</style>