<script>
import {mapActions, mapGetters} from "vuex";
import Logs from "../components/Logs.vue";
import Answers from "../components/Answers.vue";

export default {
  components: {
    Logs,
    Answers
  },
  computed: {
    ...mapGetters("device", ["device"]),
    logs: {get() {return this.$store.getters['device/deviceLogs']},},
    answers: {get() {return this.$store.getters['device/deviceAnswers']}},
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
  },
}
</script>

<template>
  <div class="flex justify-center p-2">Получение данных с утройства</div>
  <div class="flex w-full flex-col pb-5 px-4 pt-2">
    <div class="flex w-full h-[180px] items-center justify-center flex-row pt-2 pb-5 px-3 gap-2 text-sm" :class="{'h-auto': deviceStatus}">
        <div div class="flex font-medium">Устройство</div>
        <div class="flex" v-bind:class="[deviceStatus ? 'text-green-500' : 'text-blue-500']" id="connection-status">{{ deviceStatus ? "подключено" : "не подключено"}}</div>
    </div>
    <div v-if="deviceStatus">
      <div class="flex w-full flex-col p-4 bg-white rounded-md shadow-md">
        <div class="logs flext flex-col p-2">
          <Logs />
        </div>
      </div>
      <hr class="w-[100%] h-[2px] bg-white my-5" />
      <div class="flex w-full flex-col p-4 bg-white rounded-md shadow-md">
        <div class="answers flext flex-col p-2">
          <Answers />
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>

</style>