<template>
<!--          disabled-->
<div class="flex flex-col gap-4 relative" style="height: calc(100vh - 100px); width: 100%">
  <div class="absolute xsm:hidden top-0 left-0 w-full h-full min-h-[4000px] z-50 rounded-md" style="background: rgb(150, 150, 150, 0.95)">
    <span class="flex text-xl py-10 font-bold">Внимание, сайт не предусмотрен для отображения на экранах шириной менее 410xp</span>
  </div>
  <div id="selects" class="w-full bg-white rounded-md flex flex-row flex-wrap xl:flex-nowrap gap-2 p-4">
    <div id="machine_select" class="max-w-full w-full xl:max-w-[100%] xl:mx-4">
      <Multiselect v-model="selectedImei" :options="imeiList" track-by="imei" label="name" style="height: 43px" />
    </div>
    <div class="max-w-full w-full xl:max-w-[30%] min-w-[250px]">
      <VueDatePicker
          v-model="selectedPageDate"
          range
          cancelText="Отменить"
          selectText="Выбрать"
          time-picker-inline
          locale="ru"
          position="center"
          style="height: 45px"
          :max-date="maxDate"
          :highlight-week-days="[0, 6]"
          placeholder="Введите период ..."
          :format="formatDate"
          :preview-format="formatDateSelected"
          :text-input="{format: 'dd.MM HH:mm'}"
      />
    </div>

    <button @click="showBlock" class="w-full xl:w-[200px] h-[43px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-sm text-sm px-5 py-1 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" >
      выгрузить
    </button>
  </div>
  <div v-if="blockShown" id="cards" class="flex flex-row flex-wrap 3xl:flex-nowrap items-center justify-between gap-4">
    <div id="summary"   class="bg-white rounded-md flex-grow min-w-[300px] min-h-[480px] w-full md:w-[48%] 3xl:w-[25%]">
      <div class="title border-b text-left px-8 py-4 font-bold text-slate-700">Общая информация</div>
      <ul class="text-left mb-3 px-8 flex flex-wrap lg:gap-4">
        <li class="lg:my-3 flex flex-col lg:gap-2 items-start w-full md:w-[50%] lg:w-[30%]" v-for="device in deviceInfo">
          <div class="min-w-[140px] min-h-[40px] flex items-center flex text-sm font-bold text-slate-700">{{device.russian}}{{device.russian !== ""? ":": ""}} </div>
          <div class="text-left text-xs italic text-slate-600">&nbsp;{{device.value}}</div>
        </li>
      </ul>
    </div>
    <div id="work" class="bg-white rounded-md min-w-[300px] flex-grow h-[480px] w-full md:w-[48%] 3xl:w-[25%] relative">
      <div class="title border-b text-left px-8 py-4 font-bold text-slate-700">Работоспособность модулей</div>
      <div class="p-0 md:px-4 mb-4">
        <ul class="">
          <li class="flex flex-row my-3 items-center" v-for="module in modules"> <span class="text-xs w-[10px] h-[10px] bg-green-600 rounded-full mx-4"></span> <span class="text-xs font-bold text-start">&nbsp;{{module.name}}</span> </li>
        </ul>
        <div class="flex flex-row my-2 items-center absolute bottom-[10px]">
          <div class="flex items-center"><span class="flex w-[10px] h-[10px] rounded-full mx-4 bg-green-600"></span>  <span class="text-xs">работает</span></div>
          <div class="flex items-center"><span class="flex w-[10px] h-[10px] rounded-full mx-4 bg-red-600"></span>    <span class="text-xs">не работает</span></div>
          <div class="flex items-center"><span class="flex w-[10px] h-[10px] rounded-full mx-4 bg-slate-600"></span>  <span class="text-xs">не установлен</span></div>
        </div>
      </div>
<!--      <div class="title border-b border-t text-left px-8 py-4 font-bold text-slate-700">Инциденты</div>-->
<!--      <div class="px-4 py-2">-->
<!--        <ul>-->
<!--          <li class="flex flex-row border-b my-2" v-for="incident in incidents"> <span class="text-xs">{{incident.datetime}}:</span> <span class="text-xs font-bold">&nbsp;{{incident.text}}</span> </li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
    <div id="graphs"    class="bg-white rounded-md min-w-[300px] w-[100%]  h-[480px] 3xl:w-[51%] transition-all">
      <div class="title border-b text-left px-8 py-2 gap-4 font-bold flex flex-row justify-between items-center">
        <div class="text-sm sm:text-xl text-slate-700">Мониторинг</div>
        <div class="selectors pl-4 relative">
          <div class="title text-left font-bold flex flex-row">
            <Multiselect v-model="activeGraphOption" :options="graphOptions" track-by="id" label="name" style="height: 43px"/>
          </div>
        </div>
      </div>
      <div v-if="reRenderChart" class="flex flex-col md:flex-row gap-4 h-[87%] flex-row justify-center items-center p-8 relative" :class="{'hidden': (activeGraphOption?.id !== 1)}">
        <div class="w-full md:w-[23%] lg:h-[300px] border flex flex-col">
          <div class="border-b px-2 font-bold">Информация счетчика, кВт.</div>
          <div class="text-3xl font-bold flex-grow flex justify-center items-center py-4">{{trainMight}}</div>
        </div>
        <div class="w-full md:w-[75%]">
          <Line id="energyDataGraph" style="width: 600px; height: calc(45vh - 200px); min-height: 300px; max-height: 400px" :options="energyChartData.options" :data="energyChartData.data" />
        </div>
      </div>
      <div v-if="reRenderChart" class="flex justify-center items-center p-8" :class="{'hidden': (activeGraphOption?.id !== 2)}">
        <Line id="fuelchartdata" style="width: 700px; height: 370px" :options="fuelChartData.options" :data="fuelChartData.data" />
      </div>
      <div v-if="reRenderChart" class="flex justify-center items-center p-8" :class="{'hidden': (activeGraphOption?.id !== 3)}">
        <Line id="tempchartdata" style="width: 700px; height: 370px" :options="tempChartData.options" :data="tempChartData.data" />
      </div>
    </div>
  </div>
  <div v-if="blockShown" id="cards" class="flex flex-row flex-wrap 2xl:flex-nowrap gap-4">
    <div id="graphs"    class="bg-white rounded-md min-w-[300px] w-full h-[480px] transition-all">
      <div class="title border-b text-left px-8 py-2 gap-4 font-bold flex flex-row justify-between items-center">
        <div class="text-sm sm:text-xl text-slate-700">Мониторинг ДГУ</div>
        <div class="selectors pl-4 relative">
          <div class="title text-left font-bold flex flex-row">
            <Multiselect
                v-model="activeGraph2Option"
                :options="graph2Options"
                track-by="id"
                label="name"
                style="height: 43px"
            />
          </div>
        </div>
      </div>
      <div v-if="reRenderChart" class="flex flex-col md:flex-row gap-4 h-[87%] max-h-[320px] flex-row justify-center items-center m-8 relative" :class="{'hidden': (activeGraph2Option?.id !== 1)}">
        <div class="w-full">
          <Line id="tempoj" style="width: 700px; height: 370px" :options="tempOJData.options" :data="tempOJData.data" />
        </div>
      </div>
      <div v-if="reRenderChart" class="flex justify-center items-center p-8" :class="{'hidden': (activeGraph2Option?.id !== 2)}">
        <Line id="pdata" style="width: 700px; height: 370px" :options="PData.options" :data="PData.data" />
      </div>
      <div v-if="reRenderChart" class="flex justify-center items-center p-8" :class="{'hidden': (activeGraph2Option?.id !== 3)}">
        <Line id="voltdata" style="width: 700px; height: 370px" :options="VoltData.options" :data="VoltData.data" />
      </div>
    </div>
    <div id="telezka"    class="bg-white rounded-md min-w-[250px] w-[100%]  min-h-[480px] transition-all">
      <div class="title border-b text-left px-8 py-5 font-bold text-slate-700">Температура букс</div>
      <div class="flex justify-center items-center p-8 mt-[40px]">
        <div class="grid grid-cols-2 md:grid-cols-5 grid-rows-1 gap-4">
          <!-- Остальные элементы первого ряда -->
          <div class="col-span-2 md:col-span-1 flex flex-col w-[100%] max-w-[120px] relative">
            <span class="absolute top-[-0.5rem]     md:top-0     left-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[0]}} °C</span>
            <span class="absolute bottom-[-0.5rem]  md:bottom-0  left-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[1]}} °C</span>
            <img :src="`/${colorByBucksTemp(bucksTemp[0])}bo.png`" alt="Централь"><img src="/central.png" alt="Централь">
            <img :src="`/${colorByBucksTemp(bucksTemp[1])}to.png`" alt="Централь">
          </div>
          <div class="col-span-2 md:col-span-1 flex flex-col w-[100%] max-w-[120px] relative">
            <span class="absolute top-[-0.5rem]     md:top-0     right-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[2]}} °C</span>
            <span class="absolute bottom-[-0.5rem]  md:bottom-0  right-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[3]}} °C</span>
            <img :src="`/${colorByBucksTemp(bucksTemp[2])}bo.png`" alt="Централь"><img src="/central.png" alt="Централь">
            <img :src="`/${colorByBucksTemp(bucksTemp[3])}to.png`" alt="Централь">
          </div>
          <div class="col-span-5 flex md:hidden px-4 border-t border-gray-300 flex justify-between items-center">
            <span class="m-auto w-full">тележка 1</span>
          </div>
          <div class="col-span-2 md:col-span-1 hidden md:flex flex-col w-[95px] relative"></div>
          <div class="col-span-2 md:col-span-1 flex flex-col w-[100%] max-w-[120px] relative">
            <span class="absolute top-[-0.5rem]    md:top-0    left-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[4]}} °C</span>
            <span class="absolute bottom-[-0.5rem] md:bottom-0 left-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[5]}} °C</span>
            <img :src="`/${colorByBucksTemp(bucksTemp[4])}bo.png`" alt="Централь"><img src="/central.png" alt="Централь">
            <img :src="`/${colorByBucksTemp(bucksTemp[5])}to.png`" alt="Централь">
          </div>
          <div class="col-span-2 md:col-span-1 flex flex-col w-[100%] max-w-[120px] relative">
            <span class="absolute top-[-0.5rem]    md:top-0    right-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[6]}} °C</span>
            <span class="absolute bottom-[-0.5rem] md:bottom-0 right-[-1.5rem] text-sm border-b-2 text-slate-700 border-slate-700 font-bold">{{bucksTemp[7]}} °C</span>
            <img :src="`/${colorByBucksTemp(bucksTemp[6])}bo.png`" alt="Централь"><img src="/central.png" alt="Централь">
            <img :src="`/${colorByBucksTemp(bucksTemp[7])}to.png`" alt="Централь">
          </div>

          <div class="col-span-5 px-4 border-t border-gray-300 flex justify-between items-center">
            <span class="m-auto w-full hidden md:flex">тележка 1</span>
            <span class="m-auto w-full hidden md:flex"></span>
            <span class="m-auto w-full">тележка 2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-if="blockShown" id="map2" class="bg-white rounded-md min-w-[250px] w-full min-h-[500px] h-[45vh]">
    <div class="title border-b text-left px-8 py-4 font-bold">Карта</div>
    <OlMap :viewCfg="mapData" ref="olMap" />
  </div>
</div>
</template>

<script>
import {toRaw} from 'vue';
import {Doughnut, Line} from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, ArcElement, PointElement, LineElement } from 'chart.js'
import annotationPlugin from 'chartjs-plugin-annotation';
import Multiselect from 'vue-multiselect'
import { inject } from 'vue';
import moment from "moment";
import axios from 'axios';
import {VoltData, fuelChartData, tempChartData, PData, tempOJData, energyChartData} from '../staticData'
import OlMap from "../components/OlMap.vue";

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale, ArcElement, PointElement, LineElement, annotationPlugin)

let updateArrayByKey = (array, key, newValue) =>  {
  for (let i = 0; i < array.length; i++) {
    if (array[i].key === key) {
      array[i].value = newValue;
      break;
    }
  }
}
let groupByTimeInterval = (data) => {
  if (!data || !Array.isArray(data) || data.length === 0) {
    return [];
  }

  data.sort((a, b) => moment(a.pack_dt).valueOf() - moment(b.pack_dt).valueOf());

  let groupedArrays = [];
  let tempArray = [data[0]];

  for (let i = 1; i < data.length; i++) {
    if (moment(data[i].pack_dt).valueOf() - moment(data[i - 1].pack_dt).valueOf() > 300000) {
      groupedArrays.push(tempArray);
      tempArray = [data[i]];
    } else {
      let prev = tempArray[tempArray.length - 1],
          curr = data[i];
      if (prev.pack_lat !== curr.pack_lat || prev.pack_lon !== curr.pack_lon) {
        tempArray.push(data[i]);
      }
    }
  }

  // Добавление последней группы
  if (tempArray.length) {
    groupedArrays.push(tempArray);
  }

  return groupedArrays;
}
export default {
  name: 'Infographics',
  components: { Doughnut, Line, Multiselect,OlMap },
  setup() {
    const format = inject('ol-format');
    const geoJson = new format.GeoJSON();
    return {geoJson}
  },
  data() {
    return {
      selectedCityPosition: [],
      selectedCityName: "",
      drawEnable: true,
      strokeColor:  "rgba(51,153,204,0.68)",
      strokeWidth: 5,
      maxDate: moment().add(1, 'day').format(),
      currentCoords: [82.892420, 55.035898],
      modules: [
        {name: "Система контроля параметров ДГУ"},
        {name: "Система контроля системы пожарной безопасности"},
        {name: "Система контроля нагрева букс"},
        {name: "Система кондиционирования"},
        {name: "Система заряда АКБ"},
      ],
      blockShown: true,
      trainMight: "20976,25",
      track: [],
      deviceInfo: [
        {key: "device",     value: "МТСО-2 №77",                      russian: "Устройство"},
        {key: "imei",       value: 479238472398712,                   russian: "IMEI"},
        {key: "placement",  value: "г. Новосибирск, ж/д район",       russian: "Местоположение"},
        {key: "station",    value: "Новосибирск Главный",             russian: "Станция"},
        {key: "workMode",   value: "Стоянка",                         russian: "Режим работы"},
        {key: "workValue",  value: 4867.651,                          russian: "Пробег, км"},
        {key: "lat_lon",    value: "55.035807,82.893149",             russian: "Координаты"},
        {key: "pack_dt",    value: "2023-10-24 11:50:13",             russian: "Дата коммуникации"},
        {key: "speed",      value: 0,                                 russian: "Скорость, км/ч"},
      ],
      selectedPageDate: [moment().subtract(1, 'day').format(), moment().format()],
      selectedImei: {name: 'МТСО-2 №77 (864011060955178)', imei: 864011060955178},
      imeiList: [
        {name: 'МТСО-2 №77 (864011060955178)', imei: 864011060955178}
      ],
      incidents: [
        {datetime: "2023-11-12 10:23", text: "Сработал датчик пожаротушения"},
        {datetime: "2023-11-12 10:24", text: "Сработал датчик пожаротушения"},
        {datetime: "2023-11-12 10:25", text: "Сработал датчик пожаротушения"},
      ],
      activeGraphOption: {id: 1, name: "Счетчик, кВт",},
      activeGraph2Option: {id: 1, name: "Темп. ОЖ., °C",},
      graphOptions: [
        {id: 1, name: "Счетчик, кВт",    },
        {id: 2, name: "СКРТ, л", },
        {id: 3, name: "Темп. в вагоне,°C",  },
      ],
      graph2Options: [
        {id: 1, name: "Темп. ОЖ., °C",    },
        {id: 2, name: "Давление, мПа", },
        {id: 3, name: "Заряд АКБ, В",  },
      ],
      mapData: {
        projection: "EPSG:3857",
        center: [82.892420, 55.035898],
        zoom: 15,
        rotation: 0
      },
      bucksTemp: [5, 5, 4, 6, 5,6,6,4],
      energyChartData,
      tempOJData,
      PData,
      VoltData,
      fuelChartData,
      tempChartData,
      reRenderChart: true,
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        cutout: 100
      }
    }
  },
  methods: {
    colorByBucksTemp: (temp) => {
      if (temp >= 100) {
        return "r"
      } else if (temp >= 30) {
        return "y"
      } else {
        return "g"
      }
    },
    showBlock() {
      this.blockShown = false;
      if (this.selectedImei.length < 8) {
        return false
      }

      this.blockShown = false;

      this.refreshTrack();
      this.refreshCurrInfo();
      this.blockShown = true
    },
    formatDateSelected: (dates) => {
      const [date1, date2] = toRaw(dates),
          formatString = "DD.MM HH:mm",
          toFormatted = (dt) => moment(dt).format(formatString);
      return `Период: ${toFormatted(date1)} - ${toFormatted(date2)} `
    },
    formatDate: (dates) => {
      const [date1, date2] = toRaw(dates),
          formatString = "DD.MM HH:mm",
          toFormatted = (dt) => moment(dt).format(formatString);
      return `${toFormatted(date1)} - ${toFormatted(date2)}`
    },
    setMonitoringRender(id){
      this.reRenderChart = true;
      this.activeGraphOption = id;
    },
    setMonitoring2Render(id){
      this.reRenderChart = true;
      this.activeGraph2Option = id;
    },
    async forcedReRender() {
      this.reRenderChart = false;
    },
    refreshCurrInfo() {
      axios.post("/api/get_last_machine_info", {"imei": this.selectedImei.imei}).then(({data}) => {
        data.lat_lon = `${data?.pack_lat}, ${data?.pack_lon}`;
        this.currentCoords = [data?.pack_lon, data?.pack_lat]
        this.$refs.olMap.addLayer([data?.pack_lon, data?.pack_lat], "МТСО-2 №77", data)

        Object.entries(data).forEach(([key, value]) => {
          if (key === 'pack_dt') {
            updateArrayByKey(this.deviceInfo, key, moment(value).format("DD.MM.YYYY, HH:mm:ss"));
            return
          }
          updateArrayByKey(this.deviceInfo, key, value);
        });
      })
          .catch((error) => {
            console.error("Произошла ошибка при запросе к API:", error);
          });
    },
    refreshTrack() {
      axios.post("/api/get_machine_info", {"imei": this.selectedImei.imei, "dt_start": this.selectedPageDate[0], "dt_finish": this.selectedPageDate[1]})
          .then(({data: {data}}) => {
            this.track = groupByTimeInterval(data).map(list => list.map(el => ({...el, coords: [el.pack_lon, el.pack_lat]})))
            return "ok";
          })
          .then(() =>     this.drawMap())
          .catch((error) => {
            console.error("Произошла ошибка при запросе к API:", error);
          });
    },
    drawMap() {
      this.$refs.olMap.clearLayer();
      this.track.forEach((point) => this.$refs.olMap.setLineLayer("МТСО-2 №77", point))
    }
  },
  computed: {},
  mounted() {
    this.refreshTrack();
    this.refreshCurrInfo();
  },
  updated() {
    this.drawMap()
  }
}
</script>

<style >
.dp__main input {
  height: 40px;
}
.multiselect__input, .multiselect__single {
  height: 27px;
}
.dp__action_row{
  width: 300px
}
.dp__selection_preview{
  width: 200px;
}
.dp--tp-wrap{
  margin: auto;
}
.dp__input.dp__input_icon_pad{
  height: 44px;
}
</style>