<script>
import {mapActions, mapGetters} from "vuex";
import Logs from "../components/Logs.vue";
import Parameters from "../components/Parameters.vue";
import { putAllCommands, getConfigParams } from "../utiles/utile";
import {allCommandValues} from '../utiles/data'

export default {
  components: {
    Logs,
    Parameters
  },
  computed: {
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
    ...mapGetters('values', ['valuesText']),
      },
  methods: {
    ...mapActions('device', ['connectDevice']),
    ...mapActions('device', ['disConnectDevice']),
    ...mapActions('device', ['putCommands']),
    ...mapActions('device', ['setSettings']),
    ...mapActions('blocks', ['initBlocks']),
    ...mapActions('values', ['initValues']),
    settingsUpdated: function(updSet, updVal) {
      this.setSettings([...updSet, ...updVal])
    },
    onConnectDevice: function () {
      this.connectDevice().then(({device}) => {
        // console.log('this.valuesText', this.valuesText)
        const valuesSettings = this.valuesText ? JSON.parse(this.valuesText) : []
        console.log('valuesSettings', valuesSettings)
        const allCommandValues = valuesSettings.map((el) => el.params).flat().map((param) => {
          return {
            type: param.type,
            command: `0x${param.id}`
          }})
        putAllCommands({device: device, type: '0x12', action: this.putCommands, params: allCommandValues}).then(() => {
          this.putCommands({device: device, typeData: 'uint8', command: '0x10'})
        })
      })
      .catch(err => {
        console.error('Error connecting device:', err)
      })
    },
  },
  async created() {
    await this.initBlocks().then(async () => {
      await this.initValues().then(() => {
        const getBlocksConfig = this.$store.getters['blocks/blocksText']
        const getValuesConfig = this.$store.getters['values/valuesText']
        getConfigParams(getBlocksConfig, getValuesConfig, 100).then(({paramSet, paramVal}) => {
          this.settingsUpdated(paramSet, paramVal)
        })
        .catch((e) => console.error('not loading config params', e))
      // }, 300)
      })
      .catch((e) => console.error('not loading values params', e))
    })
    .catch((e) => console.error('not loading settings params', e))
    
    
  },
}
</script>

<template>
  <div class="w-full mx-auto py-2 rounded-xl shadow-md flex flex-col justify-between bg-slate-200 dark:bg-gray-500">
    <div class="bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
      <p class="py-8">Привет! Добро пожаловать в инструмент для подключения к устройствам MTSO прямо из браузера.</p>
    </div>
    <div class="px-6 bg-gray-100 dark:bg-gray-600">
      <Parameters/>
      <div class="flex justify-center py-4">
        <div v-if="!deviceStatus" class="connect flex items-center space-x-4">
          <button @click="onConnectDevice()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded dark:bg-blue-800 dark:hover:bg-blue-900">
            Подключить устройство
          </button>
        </div>
        <div v-if="deviceStatus" class="disconnect flex items-center space-x-4">
          <button @click="disConnectDevice" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded dark:bg-blue-800 dark:hover:bg-blue-900">
            Отключить устройство
          </button>
        </div>
      </div>
    </div>
    <Logs />

    <div class="docs" v-if="!deviceStatus">

      <div class="flex flex-col gap-4 bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
        <div class="flex flex-row justify-evenly">
          <div class="p-4 w-full hover:bg-gray-100 dark:hover:bg-gray-500">
            <h2 class="text-xl font-semibold mb-3">Основные возможности:</h2>
            <ul class="pl-5 mb-4">
              <li>Прямое подключение через WebUSB.</li>
              <li>Данные зашифрованы с помощью HTTPS.</li>
              <li>Управление и обновление конфигураций.</li>
              <li>Простое обновление прошивки.</li>
            </ul>
          </div>
          <div class="h-full border-r border-slate-100 dark:border-slate-400"></div>
          <div class="p-4 w-full hover:bg-gray-100 dark:hover:bg-gray-500">
            <h2 class="text-xl font-semibold mb-3">Перед началом:</h2>
            <ol class="pl-5 mb-4">
              <li>Проверьте поддержку WebUSB в браузере.</li>
              <li>Подключите устройство MTSO.</li>
              <li>При первом использовании обратитесь к разделу "FAQ".</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="p-8 bg-gray-100 dark:bg-gray-600">
        <p><b>WebUSB</b> позволяет веб-страницам взаимодействовать с USB-устройствами, подключенными к вашему компьютеру.</p>
        <p>Это предоставляет возможность использовать USB-устройства прямо из вашего веб-браузера без необходимости установки дополнительных драйверов.</p>
      </div>

      <div class="flex flex-row justify-evenly bg-gray-300 dark:bg-gray-700 dark:text-gray-400">
        <div class="w-full p-5 flex-grow hover:bg-gray-100 dark:hover:bg-gray-500">
          <h2 class="text-xl font-bold mb-5">Как подключать</h2>
          <ol class="list-decimal list-inside">
            <li>Подключите USB-устройство к вашему компьютеру.</li>
            <li>Убедитесь, что сайт использует ssl (адрес начинается с https://).</li>
            <li>Нажмите "Подключить устройство", которая поддерживает WebUSB.</li>
            <li>При появлении запроса на доступ к устройству, подтвердите свое согласие.</li>
          </ol>
        </div>
        <div class="h-full border-r border-slate-100 dark:border-slate-900"></div>
        <div class="w-full p-5 flex-grow hover:bg-gray-100 dark:hover:bg-gray-500">
          <h2 class="text-xl font-bold mb-5">Нюансы</h2>
          <ul class="list-disc list-inside">
            <li>Не все браузеры поддерживают WebUSB. Проверьте совместимость вашего браузера.</li>
            <li> В случае если "подключить устройство" не работает, скорее всего адрес не верный.</li>
            <li>Всегда отключайте устройства безопасно после использования.</li>
          </ul>
        </div>
      </div>

  </div>

    <div class="p-8 bg-gray-100 dark:bg-gray-600">
      <p><b>Ubuntu.</b> при наличии драйвера libusb (часто стоит по дефолу) требует наличия доступа к устройству (сделать можно так): .</p>
      <p>lsusb, найти строку которая по описанию как ваше устройство и содержит ID 0000:0001 (idVendor:idProduct)</p>
      <p>echo 'SUBSYSTEM=="usb", ATTR{idVendor}=="0000", ATTR{idProduct}=="0001", MODE="0666", GROUP="plugdev"' | sudo tee -a /etc/udev/rules.d/50-webusb.rules</p>
      <p>sudo udevadm control --reload-rules && sudo udevadm trigger</p>
    </div>

    <div class="flex-grow"></div>

    <p class="text-slate-700 italic text-xs dark:text-slate-200 pt-2">Надеемся, вам понравится наш инструмент! Если есть вопросы, обратитесь к нам или посмотрите раздел FAQ.</p>
  </div>
</template>

<style scoped>

</style>