<script>
import ConfigEditor from "../components/ConfigEditor.vue";
import RenderInputs from "../components/RenderInputs.vue";
import {mapActions, mapGetters} from "vuex";
import UsbCommands from "../components/UsbCommands.vue";
import Tabs from "../components/Tabs.vue";
import Tab from "../components/Tab.vue";
import AppButton from "../components/AppButton.vue";
import {logLevel, isEmptyObject, sleep} from "../utiles/utile";

export default {
  components: {UsbCommands, ConfigEditor, RenderInputs, Tabs, Tab, AppButton},
  computed: {
    ...mapGetters('config', ['config']),
    ...mapGetters('blocks', ['blocks', 'blocksError', "blocksButton"]),
    ...mapGetters('template', ['templates']),
    deviceStatus: {get() {return this.$store.getters['device/deviceStatus']}},
    answersSettings: {get() {return this.$store.getters['device/answersSettings']}},
  },
  methods: {
    ...mapActions('config', ['handleSettingUpdate']),
    ...mapActions('config', ['setConfig']),
    ...mapActions('config', ['onSaveConfig']),
    ...mapActions('template', ['setTemplates']),
    ...mapActions('template', ['onSaveTemplates']),
    ...mapActions('device', ['putCommands']),
    // updatedLogLavel: function(config) {
    //   return {...config, log_level: logLevel(config.log_level)}
    // },
    onSavedSettings: function(config) {
      if(!isEmptyObject(JSON.stringify(config))) {
        this.onSaveConfig()
        this.setTemplates(config).then(() => {
          this.onSaveTemplates()
          }
        )
        .catch(err => console.error('not uploading data to the template store', err))
      }
    },
    loadingSettings: function() {
      if(!isEmptyObject(JSON.stringify(this.templates))) {
        this.setConfig(this.templates)
      }
    },
    uploadSettings: function(config) {
      if(!isEmptyObject(JSON.stringify(config))) {
        const allSettingsParams = this.blocks.map((el) => el.params).flat()
        const uploadSettings = allSettingsParams.map((param) => {
          return {type: param.type, command: `0x21, 0x${param.id}, ${config[param.key]}`}
        })
        // console.log('uploadSettings', uploadSettings)
        return uploadSettings.map(async (setting) => {
          await sleep(1000)
          this.putCommands({typeData: setting.type, command: setting.command})
        })
      }
    },
    configForTabs: function(blocks, name) {
      return blocks.filter((block) => block.name === name)
    },
    deviceValues: function(values) {
      const valuesData = values.reduce((acc, curr) => {
        return {...acc, [curr.key]: curr.value}
      }, {})
      this.setConfig(valuesData)
    }
  },
  created() {
    this.deviceValues(this.answersSettings)
  }
}
</script>

<template>
  <div v-if="!blocksError && deviceStatus">
    <div class="flex justify-end gap-3 mb-4">
      <app-button :loading="blocksButton.loading" :success="blocksButton.success" :disabled="blocksButton.disabled" @click="loadingSettings()">
        Загрузить настройки из шаблона <i class="ri-download-2-line text-lg"></i>
      </app-button>
      <app-button :loading="blocksButton.loading" :success="blocksButton.success" :disabled="blocksButton.disabled" @click="uploadSettings(config)">
        Выгрузить на устройство <i class="ri-upload-2-line text-lg"></i>
      </app-button>
      <app-button :loading="blocksButton.loading" :success="blocksButton.success" :disabled="blocksButton.disabled" @click="onSavedSettings(config)">
        Сохранить <i class="ri-save-line text-lg"></i>
      </app-button>
      
    </div>
    <div class="bg-white py-3 rounded">
      <tabs>
        <tab name="general" title="Общие настройки устройства">
          <render-inputs :blocks="configForTabs(blocks, 'general')" :config="config" :inputChange="handleSettingUpdate" labelClass="text-emerald-500" />
        </tab>
        <tab name="mobile_network" title="Настройки мобильной сети">
          <render-inputs :blocks="configForTabs(blocks, 'mobile_network')" :config="config" :inputChange="handleSettingUpdate" labelClass="text-emerald-500"/>
        </tab>
        <tab name="gps" title="Настройки GPS">
          <render-inputs :blocks="configForTabs(blocks, 'gps')" :config="config" :inputChange="handleSettingUpdate" labelClass="text-emerald-500" />
        </tab>
      </tabs>
    </div>
  </div>
  <div v-if="!deviceStatus" class="flex w-full h-[180px] items-center justify-center flex-row pt-2 pb-5 px-3 gap-2 text-sm" :class="{'h-auto': deviceStatus}">
    <div div class="flex font-medium">Устройство</div>
    <div class="flex" v-bind:class="[deviceStatus ? 'text-green-500' : 'text-blue-500']" id="connection-status">{{ deviceStatus ? "подключено" : "не подключено"}}</div>
  </div>
</template>

<style scoped>

</style>